FORECAST_REFRESH_HOURS=3
FORECAST_DAYS_AHEAD=7
FORECAST_HISTORY_DAYS=365

ARCHIVE_DB_DSN=postgresql://postgres:smartgrid@172.31.168.2/archive_main
SOLAR_DB_DSN="postgresql://postgres:smartgrid@172.31.168.2/solar_db"
FORECAST_DB_DSN=postgresql://postgres:postgres@db:5432/postgres

WEATHER_API_KEY=570662416a664e7bbb685714250402
MODEL_VERSION=default
MAX_TOPICS_PER_REQUEST=1000
